.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: aliceblue;
  font-family: Georgia, serif;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}
